<div id="<%= dom_id crypted_note %>" class="py-3">
  <% 
    allow_decrypt = crypted_note.user == current_user 
    permitted_contact = nil
    unless allow_decrypt 
      permitted_contact = crypted_note.permitted_contacts.find_by(email: current_user.email)
      allow_decrypt = true if permitted_contact.can_decrypt? 
    end 
  %>

  <div class="flex justify-between">
    <div>
      <%= crypted_note.description %>
      <% if crypted_note.user != current_user %>
        <span class="bg-gray-300 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"><%= crypted_note.user.email %></span>
      <% end %>
    </div>
    
    <div class="">
      <%= link_to "Decrypt", edit_crypted_note_path(crypted_note), class: "btn btn-xs" if allow_decrypt %>
      <% if crypted_note.user == current_user %>
        <%= link_to "Confidant Permissions", crypted_note_permitted_contacts_path(crypted_note), class: "btn btn-xs inline-block" %> 
      <% elsif !permitted_contact.can_decrypt? && !permitted_contact.decrypt_access_requested_at %>
        <%= button_to "Request Decrypt Permission", crypted_note_permitted_contact_request_access_path(crypted_note, permitted_contact), method: :post, class: "btn btn-xs", form: {data: {turbo_confirm: 'Are you sure?'}}   %>
      <% end %>
    </div>
  </div>

  <div>
    <% if crypted_note.user == current_user %>
      <% if crypted_note.permitted_contacts.empty? %>
        <div class="mt-4">
          <%= render 'shared/alert', color: 'orange', title: "Nobody can help you out" do %>
              There are no confidants which could retreive the secret in case of unexpected events.
          <% end %>
        </div>
      <% end %>

      <% reqested_decrypt_contacts = crypted_note.permitted_contacts.where('decrypt_access_requested_at IS NOT NULL') %> 

      <% reqested_decrypt_contacts.each do |c| %>
        <% if c.can_decrypt? %>
          <div class="mt-2">
            <%= render 'shared/alert', color: 'red', title: "Nobody can help you out" do %>
              <%= c.email %> is allowed to decrypt the content since <%= l c.decrypt_access_granted_at.to_date %>.

              <% if c.encrypted_content_accessed_at %>
                  Confidant have ALREADY accessed decrypted content on <%= l c.encrypted_content_accessed_at.to_date%>.
              <% else %>
                  Confidant have NOT yet accessed decrypted content.
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="mt-4">
            <%= render "warning" do %>
              <%= c.email %> requested decrypt permission and will gain it <b>automatically</b> on <%= l c.decrypt_access_granted_at.to_date %> unless you reject it</span>
              <div class="mt-4">
                <%= button_to "Reject Access", crypted_note_permitted_contact_reject_access_path(crypted_note, c), method: :post, form: {data: {turbo_confirm: 'Are you sure to reject the access?'}}   %>
                <%= button_to "Approve Access Immediatelly", crypted_note_permitted_contact_approve_access_path(crypted_note, c), method: :post, form: {data: {turbo_confirm: 'Are you sure to grant the access?'}}   %>
              
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% unless allow_decrypt %>
        <%# link_to "Verify", crypted_note_permitted_contact_verify_path(crypted_note, permitted_contact) %>
        <div class="mt-4">
          <% verify_url = crypted_note_permitted_contact_verify_path(crypted_note, permitted_contact) %>

          <% if permitted_contact.verified_password? %>
            <%= render 'shared/alert', color: 'green', title: "Success" do %>
              Successfully verified that you know the password on <%= l permitted_contact.verified_password_at.to_date %> <%= link_to "Verify again?", verify_url %>
            <% end %>
          <% else %>
            
              <%= render 'shared/alert', color: 'orange', title: "Success" do %>
                  You can verify that you know password without revealing the secret. 

                  <div class="mt-4">
                    <%= link_to "Verify Password?", verify_url, class: 'btn' %>
                  </div>
              <% end %>
          
          <% end %>
         </div>
      <% end %>

      <% if permitted_contact.decrypt_access_requested_at %> 
        <% if permitted_contact.can_decrypt? %>
          
        <% else %>
          <%= render 'shared/alert', color: 'orange', title: "Success" do %>
              Decrypt access is pending and will be auto approved on <%= l permitted_contact.decrypt_access_granted_at.to_date %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%#= link_to "Decrypt", crypted_note %>
  </div>
</div>
