<%= form_with(model: crypted_note, data: {controller: "crypted-note"}) do |form| %>

  <% if crypted_note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(crypted_note.errors.count, "error") %> prohibited this crypted_note from being saved:</h2>

      <ul>
        <% crypted_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# unless crypted_note.persisted? %>
    <%= form.label :query, "Description:" %><br/>
    <%= form.text_area :description %><br/><br/>

  <div data-crypted-note-target="rawContentContainer">
    <%= form.label :crypted_note_raw_content, "Raw Content (no encryption):" %><br/>
    <textarea id="crypted_note_raw_content" data-crypted-note-target="rawContent" data-action="input->crypted-note#tryToEncrypt" style="height: 200px"></textarea> <!-- name attribute should not be saved in order to not set it to server -->
    <br/><br/>
  </div>
  <%# end %>



<%= form.label :crypted_note_encryption_password, "Encryption Password:" %><br/>
  <input autocomplete="off" autofill="off" id="crypted_note_encryption_password" data-crypted-note-target="encryptionPassword" data-action="input->crypted-note#onPasswordInput" type="password" /> <!-- name attribute should not be saved in order to not set it to server -->
  <br/><br/>
  <div data-crypted-note-target="errorContent" style="display:none; border: 1px solid red; color:red; background: #fadfd2; padding: 5px">Incorrect password</div>
  <br/><br/>

  <div data-crypted-note-target="generatedContentContainer">
    <%= form.label :query, "Crypted Content:" %><br/>
    <%= form.text_area :crypted_content, readonly: true, data: {crypted_note_target: :cryptedContent} %><br/><br/>
    <div data-crypted-note-target="codeTemplate" style="display:none"><%= render "executable_code"%></div>
    
    <h3>Generated code (can be used in browser console with JS)</h3>
    <code data-crypted-note-target="generatedDecryptionCode"></code>

    <br/><br/>
  </div>

  <div data-crypted-note-target="submitContainer">
    <%= form.submit %>
  </div>
<% end %>
