<a style="position:absolute; margin-top: 10px; margin-left: 10px" href="#" data-action="click->mask-<%= controller_type %>#toggle">
  <span data-mask-<%= controller_type %>-target="show">
    <%= inline_svg('password-show') %>
  </span>
  <span data-mask-<%= controller_type %>-target="hide">
    <%= inline_svg('password-hide') %>
  <span>  
</a>
