  <% type = type.to_s %>
  <%= form.label :crypted_note_encryption_password, "Encryption Password:" %><br/>
  <input autocomplete="off" autofill="off" id="crypted_note_encryption_password" data-<%= type.dasherize %>-target="encryptionPassword" data-action="input-><%= type.dasherize %>#onPasswordInput" type="password" /> <!-- name attribute should not be saved in order to not set it to server -->
  <br/><br/>
  <div data-<%= type.dasherize %>-target="errorContent" style="display:none; border: 1px solid red; color:red; background: #fadfd2; padding: 5px">Incorrect password</div>
  <br/><br/>

  <%= form.hidden_field "short_password_hash",  data: {"#{type}_target" => "shortPasswordHash"} %>
