<div id="<%= dom_id permitted_contact %>">
  <div class="flex -m-4 mb-4 bg-slate-200 text-slate-500 rounded-t p-4">
    <div class="flex-grow">
      <h3 class="mb-0"><%= permitted_contact.email %></h3>
    </div>
    <div class="">
      <%= link_to "Edit", edit_crypted_note_permitted_contact_path(@crypted_note, permitted_contact), class: "btn" %>
    </div>
  </div>

  

  <% if permitted_contact.verified_password? %>
    <%= render 'shared/alert', color: 'green', title: "Success", content: "Successfully verified that he knows encryption password on #{l permitted_contact.verified_password_at.to_date}" %>
  <% else %>
    <%= render 'shared/alert', color: 'orange', title: "Success", content: "User have not yet verified that he knows the encryption password" %>
  <% end %>

  <% if permitted_contact.decrypt_access_granted_at %> 
    <% if permitted_contact.decrypt_access_granted_at < Time.now %>
      <%= render 'shared/alert', color: 'red', title: "Success", content: "User is allowed to decrypt the content" %>
    <% else %>
      <%= render 'shared/alert', color: 'red', title: "Success", content: "User will be granted with access on #{l(permitted_contact.decrypt_access_granted_at.to_date)}" %>
    <% end %>
  <% else %>
    <%= render 'shared/alert', color: 'blue', title: "Success", content: "Confidant have not yet requested access to your secrets. Access will be granted #{permitted_contact.auto_grant_decrypt_permission_in_x_days_after_the_request} days after the request." %>
  <% end  %>

 
</div>
